@import "../variable";
.header-nav-red{background-color: $color-base-red;}
.hot-home{
  .header-nav{
    height: 100 * $base;
    line-height: 100 * $base;
    text-align: center;
    color: $color-base-white;
    font-size: $size-38;
  }
  .content{
    .top-img{
      height: 300 * $base;
      overflow: hidden;
      position: relative;
      img{
        position: absolute;
        left: 0;
        top: -50%;
        width: 100%;
      }
    }
    .news-control{
      .icon-btn-box{
        display: inline-block;
        font-size: $size-32;
        color: $color-font-01;
        height: 50 * $base;
        line-height: 50 * $base;
        margin-right: 60 * $base;
        .icon-box{
          display: inline-block;
          width: 50*$base;
          height: 50*$base;
          vertical-align: -5px;
          margin-right: 5px;
        }
      }
    }
  }
  .conduct-message{
    height: 80 * $base;
    line-height: 80 * $base;
    text-align: center;
    .icon-box{
      display: inline-block;
      width: .4rem;
      height: .4rem;
      vertical-align: middle;
    }
  }
  .quick-entry{
    height: 220 * $base;
    background-color: $color-base-white;
    display: flex;
    justify-content: space-between;
    .entry-item{
      width: 33%;
      text-align: center;
      padding: 30 * $base 50 * $base;
      a{
        display: block;
        height: 100%;
        color: $color-font-01;
      }
      .icon-box{
        display: inline-block;
        width: 100 * $base;
        height: 100 * $base;
      }
    }
  }
  .hot-topic{
    margin-top: 30 * $base;
    background-color: $color-base-white;
    padding: 30 * $base 30 * $base 0 30 * $base;
    .topic-item{
      margin-top: 30 * $base;
      &.first-child{
        border-bottom: 1px solid $color-bg-gray;
      }
    }
    .item-img-box{
      display: flex;
      justify-content: space-between;
      margin-top: 30 * $base;
      img{
        width: 33%;
        height: 100%;
        &:only-child{
          width: 100%;
        }
      }
    }
    .time{
      padding: 30 * $base 0;
    }
  }
  .hot-news-box{
    margin-top: 30 * $base;
    background-color: $color-base-white;
    .title{
      padding: 30 * $base 30 * $base 0 30 * $base;
    }
    .hot-news-list{
      padding: 0;
    }
    .news-item{
      position: relative;
      h4{
        color: $color-font-01;
      }
      &:after{
        content: '';
        position: absolute;
        width: calc(100% - 0.34rem * 2);
        height: 1px;
        left: 0.34rem;
        bottom: 0;
        background-color: $color-bg-gray;
      }
    }

  }
  .advise-person{
    margin-top: 30 * $base;
    padding: 30 * $base;
    background-color: $color-base-white;
    .title{
      margin-bottom: 30 * $base;
    }
    .person-box{
      display: flex;
      justify-content: space-between;
    }
    .person-item{
      width: 33%;
      text-align: center;
      .person-img-box{
        display: inline-block;
        width: 150 * $base;
        height: 150 * $base;
        padding: 2px;
        border: 2px solid $color-base-orange;
        border-radius: 50%;
        overflow: hidden;
        transition: all .3s;
        img{
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
        &.active{
          width: 160 * $base;
          height: 160 * $base;
        }
      }
    }
  }
}
