@import '../variable.scss';

.page-detail{
  font-family: "Microsoft YaHei","微软雅黑",微软雅黑;
  .mu-appbar { background-color:#fff; }
  .header { height:148*$base;}
  .right {
    .xzs-icon { margin-left:20*$base; padding:0 10*$base; }
    .xzs-icon-p33 { 
      padding:0 34*$base;
    }
  } 
  .body-p33 { padding:0 34*$base; }
  .mu-flat-button { min-width:auto;}
  .mu-content-block { padding:8*$base 0; font-size:32*$base; color:#333; }
  .mu-icon-button { padding:12*$base 0; width:auto; }
  .mu-flat-button-label { padding:0 5*$base; position: relative; top:4*$base; }
  .mu-flat-button .mu-icon+.mu-flat-button-label { padding-left: 0.08rem; line-height: 1.5; color: $color-font-05; }
  .mu-flat-button .mu-icon { margin:0; }

  .article-title {
    font-size: 40*$base; color: #333; padding:43*$base 0; line-height: 1.4; font-weight: normal;
  }
  .article-info{
    .star { color:$color-base-red; font-size:29*$base; }
    .not-star { color:$color-font-05; font-size:29*$base; }
  }
  .article-content { display: block; margin-bottom:21*$base;
    .col-33 { width:33.2%; line-height: 0; padding-right:2px; margin-bottom:2px; }
    .col-33 img { width:224*$base; height:168*$base; }
  }
  .article-view-number { margin-bottom:60*$base; height: 50*$baseIcon; .mu-flat-button-label { font-size:12px; } }
  .article-tag {  margin-bottom:40*$base;  display: block;}
  .article-mark {  
    position: fixed; bottom: -2.4rem; left: 0; width:100%; border-top: 1px solid #ebebeb; background-color:#fff;
    height: 2.4rem;
    padding:41*$base 0 48*$base;
    transition: all .5s;
    div { margin:0 auto; margin-bottom:24*$base; }
    p { text-align: center; color: $color-font-05; font-size:29*$base;
      span {
        color: #fd9b44;
      }
    }
    .xzs-done-gray {
      width: 116*$baseIcon; height: 116*$baseIcon;
      transition: all .5s;
      transform: rotateY(0deg);
    }
    .xzs-done-green {
      width: 116*$baseIcon; height: 116*$baseIcon;
      transform: rotateY(180deg);
    }
  }
  .article-mark.on {
    bottom: 0;
  }
  .xzs-share-box {
    transition:all .5s;
    box-shadow: -3px 6px 35px #ccc;
    position: fixed;
    bottom: -6.7rem; left:0; width:100%; height: 6.7rem; opacity: 0;
    background:#fff;
    .box{
      padding:60*$baseIcon 34*$baseIcon 0;
      h3 {
        line-height: 1; font-size:46*$baseIcon; color: #333; font-weight: normal;
      }
      .demo-grid {
        text-align: center;
      }
    }
    .xzs-shareicon {
      margin:0 auto;
    }
    .row {
      border-top:1px solid #e1e1e1;
      padding:60*$baseIcon 0;
      justify-content: unset;
      .col-25 { width:25%;
        .xzs-shareicon {
          margin-bottom:42*$baseIcon;
        }
        p {
          line-height:1;
        }
      }
    }
    .row:first-child {
      border-top:none;
    }
    .close {
      border-top:1px solid #e1e1e1;
      height:146*$baseIcon;
      background-position: center center;
      background-repeat:no-repeat;
      background-size: 42*$baseIcon 42*$baseIcon;
    }
  }
}
.xzs-share-box.on {
  bottom:0; opacity: 1;
}