@import '../variable.scss';
html,body {
  height:100%;
}

.mu-list {
  background-color:#fff; padding:0; border-bottom:1px solid #ebebeb; margin-top: 16*$base;
  .mu-sub-header:first-child { margin-top:0; }
  > div:first-child {
    .mu-divider { display: none; }
  }
}

.page-setting {
  padding-top:148*$base; background-color: #f3f3f3; height: 100%;
}

.list-hr { margin:0 34*$base; background-color:#ebebeb; width:initial; }
.page-garden-list {
  .mu-list {
    .mu-sub-header { 
      line-height:93*$base; font-size:25*$base; margin-top:0; color: #333;
      .is-checked {
        float: right; margin-right:34*$base; 
      }
      .checked {color: $color-font-05;}
      .unchecked {color: #d0000f;}
    }
    .mu-item-title { color:#333; }
    .mu-item-right { width:inherit; }
  }
}

.page-garden-info {
  .mu-content-block { width:auto; text-align: left; padding:0; text-align: center; }
  .mu-item-left { left: 34*$base; width:5em; font-size:32*$base; color:#333; }
  .mu-item { text-align: right; font-size:29*$base; color:$color-font-05; }
  .mu-item.show-left { padding-left: 1.88rem; }
  .mu-item.show-right { padding-right:92*$base; }  
  .mu-item-right {
    right:0;
  }
  .xzs-input {
    .mu-item-right { 
      right:0;
      width:inherit;
      padding-right: 0.92rem;
      .mu-text-field { min-height: auto; margin-bottom:0; }
      .mu-text-field-content { padding:0; }
      .mu-text-field-line,.mu-text-field-focus-line { display: none;}
      .mu-text-field-input { color: $color-font-05; text-align: right; padding-left: 1em; }
    }
  }
  .xzs-link-arrow.xzs-select {
    transform:rotate(90deg);
    width:39*$base;
    margin-right:8*$base;
  }
  .xzs-tick {
    width: 64*$base;
  }
}

.page-class-list {
  .mu-item { padding:0; justify-content: space-between; padding: 0 34*$base; position: relative; left: 0; transition:all .3s ease-in; height: 112*$base; }
  .mu-item-left { position: relative; width:initial; left: 0;
    .mu-content-block { padding:0; text-align: left; color:#333; font-size:32*$base; }
  }
  .mu-item-content { width:initial; position: relative }
  .mu-item-right { width: initial; position: absolute; right: -2.24rem; width:2.24rem; background:#d0000f;
    .mu-content-block { 
      display: flex; height: 100%; padding:0; width:100%;
      i { display: block; width:50%; height: 100%; background-position: center center; }
    }
  }
  .on {
    .mu-item { left:-2.24rem; }
  }
  .xzs-person-outline { background-size: 32*$base 32*$base; background-color:#cacaca; }
  .xzs-delete-white { background-size: 32*$base 32*$base; background-color:#ff4e10; }
  .mu-item-title { font-size:29*$base; color:$color-font-05; }
}

.page-class-info {
  .mu-content-block { width:auto; text-align: left; padding:0; text-align: center; }
  .mu-item-left { left: 34*$base; width:5em; font-size:32*$base; color:#333; }
  .mu-item { text-align: right; font-size:29*$base; color:$color-font-05; }
  .mu-item.show-left { padding-left: 1.88rem; }
  .mu-item.show-right { padding-right:92*$base; }
  
  .mu-item-right {
    right:0;
  }
  .xzs-input {
  .mu-item-right { 
    width:inherit;
    padding-right: 0.92rem;
      .mu-text-field { min-height: auto; margin-bottom:0; width: 100%; }
      .mu-text-field-content { padding:0; font-size:32*$base; color:#333; }
      .mu-text-field-line,.mu-text-field-focus-line { display: none;}
      .mu-text-field-input { color: $color-font-05; text-align: right; padding-left: 1em; }
    }
  }
  .xzs-link-arrow.xzs-select {
    transform:rotate(90deg);
    width:39*$base;
    margin-right:6*$base;
  }
  .xzs-tick {
    width: 64*$base;
  }
}

.page-student-list {
    .header { z-index:10; }
    .mu-item { padding:0; justify-content: space-between; padding: 0 34*$base; position: relative; left: 0; transition:all .3s ease-in; height: 112*$base; }
    .mu-item-left { 
      position: relative; width:initial; left: 0;
      .mu-content-block { padding:0; text-align: left; color:#333; font-size:32*$base; }
    }
    .mu-item-content { width:initial; position: relative }
    .mu-item-right {
      width:initial;
      .mu-content-block { 
        display: flex; height: 100%; line-height: 112*$base; padding:0; width:100%; padding-right:20*$base; color: #8e8e8e; font-size:29*$base;
        i { display: block; width:50%; height: 100%; background-position: center center; }
        span {
          span {
            color: #d0000f; font-size:29*$base;
          }
        }
      }
    }
    .xzs-person-outline { background-size: 32*$base 32*$base; background-color:#cacaca; }
    .xzs-delete-white { background-size: 32*$base 32*$base; background-color:#ff4e10; }
    .mu-item-title { font-size:29*$base; color:$color-font-05; }
    .xzs-icon .xzs-filter {
      width: 48*$baseIcon; height: 48*$baseIcon;
    }
    .xzs-class-filter {
      background-color:#fff; padding:34*$base; position:absolute; top:148*$base; left:0; width:100%; z-index: 10; border-bottom:1px solid #ebebeb;
    }
    .filter-label { font-size:29*$base; color:#333; line-height:54*$base; }
}

.page-teacher-list {
    .body { background-color:#f3f3f3; }
    .mu-list {
      .mu-sub-header { 
        height:93*$base; line-height:93*$base; font-size:25*$base; margin-top:0; color: #333;
        .checked {color: $color-font-05;}
        .unchecked {color: #d0000f;}
      }
      .mu-item-title { color:#333; }
      .mu-item-right { width:inherit; }
    }
    .header { z-index:10; }
    .mu-item { padding:0; justify-content: space-between; padding: 0 34*$base; position: relative; left: 0; transition:all .3s ease-in; height: 112*$base; }
    .mu-item-left { 
      position: relative; width:initial; left: 0;
      .mu-content-block { padding:0; text-align: left; color:#333; font-size:32*$base; }
    }
    .mu-item-content { width:initial; position: relative }
    .mu-item-right {
      width:initial;
      .mu-content-block { 
        display: flex; height: 100%; line-height: 112*$base; padding:0; width:100%; padding-right:20*$base; color: #8e8e8e; font-size:29*$base;
        i { display: block; width:50%; height: 100%; background-position: center center; }
        span {
          span {
            color: #d0000f; font-size:29*$base;
          }
        }
      }
    }
    .xzs-person-outline { background-size: 32*$base 32*$base; background-color:#cacaca; }
    .xzs-delete-white { background-size: 32*$base 32*$base; background-color:#ff4e10; }
    .mu-item-title { font-size:29*$base; color:$color-font-05; }
    .xzs-icon .xzs-filter {
      width: 48*$baseIcon; height: 48*$baseIcon;
    }
    .xzs-class-filter {
      background-color:#fff; padding:34*$base; position:absolute; top:148*$base; left:0; width:100%; z-index: 10; border-bottom:1px solid #ebebeb;
    }
    .filter-label { font-size:29*$base; color:#333; line-height:54*$base; }
}

.page-invite-code {
  .mu-item { padding:0; padding: 0 34*$base; position: relative; left: 0; transition:all .3s ease-in; height: 112*$base; }
  .mu-item-left { position: relative; width:initial; left: 0;
    .mu-content-block { padding:0; text-align: left; color:#333; font-size:32*$base; }
  }
  .mu-item-content { width:initial; position: relative }
  .mu-item-title { padding-left: 0.5em;}
}

.mu-dialog-actions { 
  padding:0;
  .mu-flat-button {
    width:50%; height: 100%;
  }
}

.page-parent-info,.page-student-info,.page-staff-info {
  padding-top:0;
  .header {
    background-repeat: no-repeat; height: 550*$baseIcon;
    position: relative;
    .mu-appbar { background-color:transparent; box-shadow:none; top:40*$base; }
    .userinfo { 
      padding-top: 128*$base;
      text-align: center;
      img { width:140*$base; height:140*$base; border-radius: 50%;}
      p {
        color:#333;
        font-size:29*$base;
        margin-top:28*$base;
        padding:0 34*$base;
      }
    }
  }
  
  .xzs-btn-col-100 { margin:11*$base 0; height:97*$base; line-height:97*$base; text-align: center; font-size:33*$base; color:#333; background:#fff; border-radius:48*$base; }
  .xzs-btn-col-100.red { color:#d0000f; }
  .footer { padding: 40*$base 34*$base;
    .xzs-btn-col-100 { width:100%; max-width:100%; }
  }
}