@import "../variable";
.header-nav-red{background-color: $color-base-red;}
.header-nav{
  .goback-btn{
    width: 100 * $base;
    height: 100%;
    line-height: 100%;
  }
  .icon-box{
    width: 30 * $base;
    height: 30 * $base;
  }
  span{
    color: #fff;
    font-size: $size-32;
  }
  .right-btn{
    padding: 0 34*$base;
  }
}
.top-banner{
  overflow: hidden;
  height: 3rem;
  .top-header{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 108 * $base;
    line-height: 108 * $base;
    .goback-btn{
      padding: 34 * $base;
    }
    .icon-box{
      width: 30 * $base;
      height: 30 * $base;
    }
    .title{
      position: absolute;
      left: 0;
      top: 0;
      z-index: 2;
      font-size: $size-32;
      color:  $color-base-white;
      width: 100%;
      display: none;
      text-align: center;
    }
  }
  .top-bg{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 0;
    width: 100%;
    height: 348 * $base;
    overflow: hidden;
    img{
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      background-color: $color-base-white;
    }
    .mask{
      position: absolute;
      left: 0;
      bottom: 20%;
      z-index: 100;
      width: 100%;
      color: $color-base-white;
      height: 50%;
      text-align: center;
      h4{
        font-size: $size-42;
        font-weight: normal;
        margin-bottom: 20 * $base;
      }
      .button-box{}
      a.button-item{
        display: inline-block;
        min-width: 150 * $base;
        height: 60 * $base;
        text-align: center;
        line-height: 60 * $base;
        padding: 0 30 * $base;
        color: $color-base-white;
        border: 1px  solid $color-base-white;
        border-radius: 30 * $base;
      }
    }
  }
  &.upFold{
    .top-header .title{display: block}
    .top-bg{
      height: 108 * $base;
      z-index: 1;
      img{
        z-index: 1;
        -webkit-filter: blur(3px);
        filter: blur(3px);
      }
      .mask{
        visibility: hidden;
      }
    }
  }
}
.content{
  color: $color-font-01;
  padding-top: 108 * $base;
  .mask-link{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
  }
  .news-control{
    .icon-btn-box{
      display: inline-block;
      font-size: $size-32;
      color: $color-font-01;
      height: 50 * $base;
      line-height: 50 * $base;
      margin-right: 60 * $base;
      .icon-box{
        display: inline-block;
        width: 50*$base;
        height: 50*$base;
        vertical-align: -5px;
        margin-right: 5px;
      }
    }
  }
}
/*点赞等按钮样式重置*/
.control-btn {
  min-width: 0;
  .icon-box{
    width: 50*$base;
    height: 50*$base;
    vertical-align: middle;
    margin-left: 12 * $base;
  }
  .icon-box + span{
    padding: 0 12 * $base;
  }
}
.btn-control-box{
  height: 84*$base;
  line-height: 84*$base;
  .left-box .control-btn{
    margin-right: 15*$base;
  }
  .control-btn {
    display: inline-block;
    max-width: 150 * $base;
    .icon-box{
      display: inline-block;
      width: 50 * $base;
      height: 50 * $base;
      vertical-align: -5px;
      margin-left: 0;
      margin-right: .2rem;
    }
    &:not(:last-child) {
      margin-right: .2rem;
    }
  }
}
/*example-guide*/
.example-guide .content{
  background-color: #f3f3f3;
  margin-top: 24*$base;
  .left{float: left;}
  .right{float: right;}
  .list{
    .list-item{
      background-color: #fff;
      padding: 30*$base 34*$base;
      margin-top: 14*$base;
      .xzs-card{
        box-shadow: none;
        .xzs-card-header{
          padding: 0;
        }
      }
      .item-tag{
        position: absolute;
        top: 0;
        right: 0;
        font-style: normal;
        color: $color-font-05;
        min-width: 100*$base;
        height: 50*$base;
        padding: 0 24*$base;
        line-height: 50*$base;
        text-align: center;
        border-radius: 30*$base;
        border: 1px solid $color-line-01;
        font-size: $size-32;
      }
      .img-box{
        position: relative;
        margin-top: 30*$base;
        .img-item{
          width: 32%;
          margin-right: 2%;
          &:last-child{
            margin-right: 0;
          }
        }
        .img-item:only-child{
          width: 100%;
        }
      }

    }
  }
}
/*product-home*/
.product-home{
  .content{
    position: relative;
    padding-top: 0;
    z-index: 1;
    .gutter{
      height: 16 * $base;
      background-color: $color-bg-gray;
    }
    .ph-intro{
      background-color: $color-base-white;
      padding: 34 * $base 36 * $base  40 * $base;
      p{
        white-space: normal;
        text-align: justify;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        color: $color-font-01;
      }
      .go-detail{
        margin-top: 30 * $base;
        text-align: right;
        color: $color-font-02;
      }
    }
    .ph-six-grid{
      margin-top: 16 * $base;
      background-color: $color-base-white;
      h5{
        padding: 0 34 * $base;
        height: 70 * $base;
        line-height: 70 * $base;
        font-size: $size-38;
        display: flex;
        justify-content: space-between;
        margin-bottom: 16 * $base;
        span{
          color: $color-font-01;
          font-weight: normal;
        }
        .icon-box{
          display: inline-block;
          width: 23 * $base;
          height: 40 * $base;
          margin: 15 * $base 0;
          vertical-align: middle;
        }
      }
      .ph-row{
        .col-50{
          width: calc((100% - 3px) / 2);
          margin-bottom: 50 * $base;
          position: relative;
        }
        p{
          white-space: normal;
          text-align: center;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
          margin-top: 14 * $base;
          font-size: $size-30;
          margin: 0 10 * $base;
        }
        .ph-img-box{
          position: relative;
          overflow: hidden;
          margin-bottom: 14 * $base;
          .hack{
            margin-top: 75%;
          }
          img{
            position: absolute;
            left: 0;
            top: 0;
          }
          .icon-eye-box{
            position: absolute;
            left: 14 * $base;
            bottom: 12 * $base;
            font-size: $size-25;
            color: $color-base-white;
            .icon-box{
              display: inline-block;
              width: 20*$base;
              height: 20*$base;
              vertical-align: 0;
              margin-right: 5px;
            }
          }
          .icon-video-box{
            position: absolute;
            right: 14 * $base;
            bottom: 12 * $base;
            width: 43 * $base;
            height: 43 * $base;
          }
        }
      }
    }
    .ph-hot-news{
      margin-top: 16 * $base;
      background-color: $color-base-white;
      h5{
        padding: 0 34 * $base;
        height: 70 * $base;
        line-height: 70 * $base;
        font-size: $size-38;
        display: flex;
        justify-content: space-between;
        margin-bottom: 16 * $base;
        span{
          color: $color-font-01;
          font-weight: normal;
        }
        .icon-box{
          display: inline-block;
          width: 23 * $base;
          height: 40 * $base;
          margin: 15 * $base 0;
          vertical-align: middle;
        }
      }
      .news-item{
        position: relative;
        h4{
          color: $color-font-01;
        }
        &:after{
          content: '';
          position: absolute;
          width: calc(100% - 0.34rem * 2);
          height: 1px;
          left: 0.34rem;
          bottom: 0;
          background-color: $color-bg-gray;
        }
      }

    }
    .advise-person{
      background-color: $color-base-white;
      h5{
        padding: 0 34 * $base;
        height: 70 * $base;
        line-height: 70 * $base;
        font-size: $size-38;
        font-weight: normal;
      }
      .six-person-box{
        overflow: hidden;
        padding: .2rem;
        .person-item{
          position: relative;
          overflow: hidden;
          text-align: center;
          height: 2.5rem;
          .person-img-box{
            display: inline-block;
            width: 150 * $base;
            height: 150 * $base;
            padding: 2px;
            border: 2px solid $color-base-orange;
            border-radius: 50%;
            overflow: hidden;
            transition: all .3s;
            img{
              width: 100%;
              height: 100%;
              border-radius: 50%;
            }
            &.active{
              width: 160 * $base;
              height: 160 * $base;
            }
          }
        }
      }
    }
  }
}
/*product-intro*/
.product-intro{
  .content{
    background-color: $color-base-white;
    padding-top: 108 * $base;
    .content-detail-default{
      max-height: 0;
    }
    .intro-item{
      h3{
        position: relative;
        font-size: $size-32;
        .icon-box{
          position: absolute;
          right: 0;
          top: 0;
          width: 50 *$base;
          height: 50 *$base;
          transition: all .3s ease-in-out;
          -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
          &.active{
            -webkit-transform: rotate(0);
            transform: rotate(0);
          }
        }
      }
      .mu-item{
        padding: 34 * $base;
      }
    }
    .content-detail{
      overflow: auto;
      max-height: 5rem;
      -webkit-transition: max-height .4s cubic-bezier(.445,.05,.55,.95);
      transition: max-height .4s cubic-bezier(.445,.05,.55,.95);
      display: block;
      p{
        padding: 0 34 * $base 34 * $base;
      }
    }
    .content-detail-default{
      max-height: 0;
    }
  }
}
/*product-list*/
.product-list{
  .content{
    background-color: $color-bg-gray;
    .top-button-box{
      position: relative;
      background-color: $color-base-white;
      margin: 24 * $base 0;
      height: 112 * $base;
      padding: 0;
      overflow: hidden;
    }
    .top-button{
      height: 112 * $base;
      .mu-item{
        height: 112 * $base;
        padding: 34 * $base;
      }
      .icon-box{
        display: inline-block;
        width: 20px;
        height: 20px;
        vertical-align: middle;
      }
      .tmpl-value{
        color: $color-font-02;
      }
    }
    .hot-news{
      background-color: $color-base-white;
      .mu-item{
        padding: 34 * $base;
      }
      .news-item{
        position: relative;
        &:after{
          content: '';
          position: absolute;
          width: calc(100% - 0.34rem * 2);
          height: 1px;
          left: 0.34rem;
          bottom: 0;
          background-color: $color-bg-gray;
        }
        h4{
          text-align: justify;
        }
      }
    }
  }
  .select-box{
    padding: 40 * $base 34 * $base;
    background-color: $color-bg-gray;
    width: 100%;
    .select-header{
      font-size: $size-48;
      i.icon-box{
        display: inline-block;
        width: 40 * $base;
        height: 40 * $base;
        vertical-align: middle;
        margin-right: 60 * $base;
      }
      margin-bottom: 70 * $base;
    }
    .select-title{
      h5{
        font-size: $size-46;
        margin-bottom: 50 * $base;
        height: 50 * $base;
        line-height: 50 * $base;
        span:first-child{
          display: inline-block;
          width: 20%;
        }
        span:last-child{
          display: inline-block;
          width: 80%;
          height: 0;
          border-top: 1px solid $color-line-03;
        }
      }
      .select-item{
        background-color: $color-base-white;
        margin-right: 16 * $base;
        margin-bottom: 20 * $base;
      }
    }
  }
}
.content{
  .conduct-message{
    height: 80 * $base;
    line-height: 80 * $base;
    text-align: center;
    .icon-box{
      display: inline-block;
      width: .4rem;
      height: .4rem;
      vertical-align: middle;
    }
    background-color: $color-base-white;
  }
}
/*duty-conduct*/
.duty-conduct{
  .content{
    .conduct-box{
      background-color: $color-bg-gray;
    }
    .conduct-item{
      padding: 10 * $base 30 * $base;
      .item-time{
        position: relative;
        height: 70 * $base;
        line-height: 70 * $base;
        margin-left: 60 * $base;
        &:before{
          content: '';
          position: absolute;
          left: -60 * $base;
          top: 20 * $base;
          width: 10px;
          height: 10px;
          border-radius: 5px;
          background-color: #f86c35;
        }
      }
      .item-box{
        position: relative;
        height: 160 * $base;
        margin-left: 60 * $base;
        padding: 30 * $base 20 * $base;
        background-color: $color-base-white;
        &:before{
          content: '';
          position: absolute;
          left: -50 * $base;
          top: 0;
          width: 1px;
          height: 170 * $base;
          border-radius: 5px;
          background-color: #f86c35;
        }
        p{
          white-space: normal;
          text-align: center;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
          overflow: hidden;
          margin-top: 14 * $base;
          font-size: $size-30;
        }
      }
    }
  }
}
/*conduct-detail*/
.conduct-detail{
  .conduct-content{
    padding: 30 * $base;
    background-color: $color-base-white;
  }
  .conduct-person{
    margin-top: 30 * $base;
    background-color: $color-base-white;
    padding: 30 * $base;
  }
  .conduct-list{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 30 * $base;
    padding-right: 50 * $base;
    &:after{
      content: '. . .';
      position: absolute;
      right: 0;
      bottom: 50 * $base;
    }
    .person-item{
      display: inline-block;
      width: 80 * $base;
      height: 80 * $base;
      border-radius: 50%;
      overflow: hidden;
    }
  }
  .submit{
    margin-top: 50 * $base;
    text-align: center;
    .submit-button{
      width: 90%;
      height: 100 * $base;
      line-height: 100 * $base;
      border-radius: 50 * $base;
      background-color: $color-base-white;
      color: $color-font-03;
      outline: none;
      border: none;
    }
  }
}
